.inputField{
  width: 60vw;
  margin: auto;
}

.SearchBar{
}

input[type=text] {
    margin: 2vh;
    height: 40px;
    font-size: 20px;
    font-family: monospace;

    color: #ff5916;
    /* width: 130px; */
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 80vw;
}
